/* Import BDO Grotesk fonts */
@font-face {
    font-family: 'BDO Grotesk';
    src: url('/fonts/BDOGrotesk-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BDO Grotesk';
    src: url('/fonts/BDOGrotesk-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BDO Grotesk';
    src: url('/fonts/BDOGrotesk-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BDO Grotesk';
    src: url('/fonts/BDOGrotesk-ExtraBold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

/* Import Noto Serif font */

@font-face {
    font-family: 'Noto Serif';
    src: url('/fonts/NotoSerif-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Serif';
    src: url('/fonts/NotoSerif-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

/* Import Iptex font */
@font-face {
    font-family: 'Iptex';
    src: url('/fonts/LCTIptex-Medium.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}




/* Global styles */
body {
    margin: 0;
    padding: 0;
}

a {
    cursor: pointer;
}

.button-style.positive-dark {
    background: black;
    text-decoration: underline limegreen 0.2rem;
}

.button-style {
    font-size: 1.5rem;
    background: black;
    color: white;
    border: none;
    font-family: "Noto Serif", serif;
    font-style: italic;
    font-weight: 500;
    padding: 0.5rem 1rem 0.6rem 1rem;
    border-radius: 50rem;
    background: gray;
    margin-right: 1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    text-decoration: none;
    white-space: nowrap;
    display: inline-block;
}

.left-side {
    box-sizing: border-box;
    align-self: flex-start;
    padding-left: 1rem;
    padding-right: 1rem;
    position: sticky;
    top: 0;
    flex-basis: 30%;
    flex-grow: 1;
    padding-top: 0.5rem;
}

.right-side {
    box-sizing: border-box;
    flex-grow: 1;
    flex-basis: 70%;
    padding-right: 1rem;
    padding-left: 1rem;
    min-width: 0;
}

h1 {
    margin: 0;
}

h2 {
    font-family: 'BDO Grotesk', sans-serif;
    font-weight: 500;
    font-size: 3.5rem;
    margin: 0;
}

h3 {
    font-family: "Iptex", monospace;
    font-weight: 400;
    font-size: 2rem;
    margin: 0;
    color: rgb(50, 50, 50);
}

p {
    font-size: 2.25rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
    font-family: BDO Grotesk, sans-serif;
}